@tailwind base;
@tailwind components;
@tailwind utilities;

h3{
   @apply text-2xl font-bold text-center;
}


#make-ground li{
   padding-top:1.1rem ; 
}

.zamow{
   writing-mode: vertical-rl;
   text-orientation: mixed;
}

.centered{
   text-align: -webkit-center;
}

.last:last-child{
   content:'scss';
   border: 10px; ;

}
.car{
   animation-name: car;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;

}

@keyframes car {
   0% {right:50px;bottom:20px; rotate: 0deg; content: 'x';}
   25% {right:70px;bottom:150px ; rotate: -90deg;}
   50% {right:200px;bottom:150px; rotate:-180deg; }
   75% {right:200px;bottom:100px; rotate:-300deg}  
   100% {right:50px;bottom:20px; rotate: -360deg;}
}

.my-masonry-grid {
   display: -webkit-box; /* Not needed if autoprefixing */
   display: -ms-flexbox; /* Not needed if autoprefixing */
   display: flex;
   margin-left: -30px; /* gutter size offset */
   width: auto;
 }
 .my-masonry-grid_column {
 
   background-clip: padding-box;
 }
 
 /* Style your items */
 .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
   background: grey;
   
 }

 .loading-screen {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 9999;
   transform: translate(-50%, -50%);
 }

 .swiper-slide img{
   transform: scale(1.1) 
;
 }
 .swiper-slide-active img {
   transform: scale(1.0) ;
   transition: transform 3.0s ease-out;
 }

 .test{
   filter: drop-shadow(16px 16px 20px red);
 }
 svg polygon {
   transition: all 0.3s;
  
 }
