@tailwind base;
@tailwind components;
@tailwind utilities;


#make-ground li{
   padding-top:1.1rem ; 
}

.zamow{
   writing-mode: vertical-rl;
   text-orientation: mixed;
}

.centered{
   text-align: -webkit-center;
}

.last:last-child{
   content:'scss';
   border: 10px; ;

}
