@tailwind base;
@tailwind components;
@tailwind utilities;


#make-ground li{
   padding-top:1.1rem ; 
}

.zamow{
   writing-mode: vertical-rl;
   text-orientation: mixed;
}

.centered{
   text-align: -webkit-center;
}

.last:last-child{
   content:'scss';
   border: 10px; ;

}
.car{
   animation-name: car;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;

}

@keyframes car {
   0% {right:50px;bottom:20px; rotate: 0deg; content: 'x';}
   25% {right:70px;bottom:150px ; rotate: -90deg;}
   50% {right:200px;bottom:150px; rotate:-180deg; }
   75% {right:200px;bottom:100px; rotate:-300deg}  
   100% {right:50px;bottom:20px; rotate: -360deg;}
}
